;; filepath: /Users/darrenkim/Work/kromatik/deps.edn
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:repl {:main-opts ["-e" "(require,'kromatik.core)"]}}
 :project
 {:description "Tiny toolset converting between namespaced and unnamespaced maps."
  :url "https://github.com/darren-m-kim/kromatik"
  :license {:name "MIT"
            :url "https://opensource.org/licenses/MIT"}}}